
 
<ons-toolbar>
   
    <div class="right">
      <ons-toolbar-button>
       
        <ons-icon data-bind="click:back" icon="ion-chevron-left"> 返回</ons-icon>
         
      </ons-toolbar-button>
    </div>
</ons-toolbar>
<section >

<select name='类别' id = "selectitems" data-bind="click:selectItems" class="appSelect">
    <!--ko foreach:appConfig.app.leaveitems() -->
   <option data-bind='text:C3_533402301362,value=C3_533402301362'></option>  
    <!-- /ko -->
</select>  
<ons-list-header>开始时间</ons-list-header>
<input class="form-control appDate" data-bind="value:editform.formdata().C3_533143179815">

<ons-list-header>结束时间</ons-list-header>
<input class="form-control appDate" data-bind="value:editform.formdata().C3_533143217561">
</section>
  <!--<p></p>-->
<ons-button modifier="large" data-bind="visible:editform.savebutton,click:saveform">保存</ons-button>
 