 <ons-list-item  class="list__item"  > 
      <div class="left list__item__left" data-bind='click:$root.browse'>
        <div data-bind='attr:{class:C3_533402468773}'>
        <i data-bind='attr:{class:C3_533407368877}'></i></div>
      </div>
      <div class="center list__item__center" data-bind='click:$root.browse'>
        <div class="list__item__title"><span data-bind='text:C3_533398158705'>病假</span></div>
        <div class="list__item__subtitle"><span data-bind='text:C3_533143217561'>2016-01-01 12:00</span></div>
      </div>
      <div class="right list__item__right" style="font-size: 35px; color: rgb(202, 202, 202);">
        <div><ons-icon    icon="ion-edit" style="margin: 0px 25px 0px 0px;" data-bind='click:$root.edit'></ons-icon>
        </div>
        <div><ons-icon     icon="trash" style="margin: 0px 10px 0px 0px;" data-bind='click:$root.del'></ons-icon></div>
        </div>

    </ons-list-item>
       