<div class="demo-wrapper demo-wrapper-listviewUpdate">
        
        <div id="listviewUpdate-demo_note" class="md-demo-note demo-note" style="display:none;">
            Whooa, list is empty. Tap here to refresh! &nbsp;
            <span class="mbsc-ic mbsc-ic-loop2"></span>
        </div>
        
        <ul id="listviewUpdate-demo" class="md-wo-list" style="display:none">
            <li data-id="listviewUpdate-1">Work order #0001
                <div class="md-wo-status">Assigned</div>
            </li>
            <li data-id="listviewUpdate-2">Work order #0002
                <div class="md-wo-status">Assigned</div>
            </li>
            <li data-id="listviewUpdate-3">Work order #0003
                <div class="md-wo-status">Assigned</div>
            </li>
            <li data-id="listviewUpdate-4">Work order #0004
                <div class="md-wo-status">Assigned</div>
            </li>
            <li data-id="listviewUpdate-5">Work order #0005
                <div class="md-wo-status">Assigned</div>
            </li>
            <li data-id="listviewUpdate-6">Work order #0006
                <div class="md-wo-status">Assigned</div>
            </li>
        </ul>
    </div>