<div>mywork2</div>
 
<p data-bind="text: lastError"></p>
<p data-bind="text: '记录数'+total().toString()"></p>
<p data-bind="text: '当前页码'+pageIndex.toString()"></p>
 <ons-gesture-detector>
  <div id="detect-area" style="width: 100px; height: 100px;">
    Swipe Here
  </div>
</ons-gesture-detector>
	<div class="htmleaf-container">
	<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="js-signature" data-width="600" data-height="400" data-border="1px solid black" data-line-color="#bc0000" data-auto-fit="true">test</div>
					<p><button id="clearBtn" class="btn btn-default" data-bind='click:clearCanvas'>Clear Canvas</button>&nbsp;<button id="saveBtn" class="btn btn-default" data-bind='click:saveSignature' disabled>Save Signature</button></p>
					<div id="signature">
						<p><em>Your signature will appear here when you click "Save Signature"</em></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	