<div class="md-badge-demo" mbsc-enhance>

    <ul id="demo" style="display:none;">
        <li data-icon="newspaper">News</li>
        <li data-icon="material-people" data-badge="1">People</li>
        <li data-icon="bubble" data-badge="9">Messages</li>
        <li data-icon="fa-globe">Notifications</li>
    </ul>

    <div class="md-card md-reminder-card">
        <div class=" mbsc-padding">
            <div class="md-reminder-txt">New Flash episode</div>
            <div class="md-reminder-txt">9:00 PM today</div>
        </div>
        <div class="md-rc-btn-cont">
            <button class="md-rc-btn mbsc-btn-flat" data-icon="calendar">Show details</button>
        </div>
    </div>

    <div class="md-card md-reminder-card">
        <div class=" mbsc-padding">
            <div class="md-reminder-txt">Morning workout</div>
            <div class="md-reminder-txt">Tomorrow Morning</div>
        </div>
        <div class="md-rc-btn-cont">
            <button class="md-rc-btn mbsc-btn-flat" data-icon="calendar">Show details</button>
        </div>
    </div>

    <div class="md-card md-article-card">
        <img class="md-pic" src="/Content/img/demos/card_2.png" />
        <div class=" mbsc-padding md-ac-txt">
            <div class="md-title">Best animal adventures for families</div>
            <p class="mbsc-desc">A young panda tests his climbing skills at the Chengdu Research Base.</p>
            <a>Read more...</a>
        </div>
    </div>

    <div class="md-card md-article-card">
        <img class="md-pic" src="/Content/img/demos/card_3.png" />
        <div class="mbsc-padding md-ac-txt">
            <div class="md-title">Best places to test your survival skills</div>
            <p class="mbsc-desc">A view across the Turnagain Arm on Alaska's Kenai Peninsula.</p>
            <a>Read more...</a>
        </div>
    </div>

    <div class="md-card md-reminder-card">
        <div class=" mbsc-padding">
            <div class="md-reminder-txt">Football </div>
            <div class="md-reminder-txt">8:00 PM tomorrow</div>
        </div>
        <div class="md-rc-btn-cont">
            <button class="md-rc-btn mbsc-btn-flat" data-icon="calendar">Show details</button>
        </div>
    </div>

    <div class="md-card md-article-card">
        <img class="md-pic" src="/Content/img/demos/card_1.png" />
        <div class="mbsc-padding md-ac-txt">
            <div class="md-title">The world’s most extraordinary sleepovers</div>
            <p class="mbsc-desc">Explore the azure depths with a stay at the Manta Resort's underwater room.</p>
            <a>Read more...</a>
        </div>
    </div>

</div>