<div>电子签名测试</div>
  
	<div class="htmleaf-container">
	<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="js-signature" data-width="600" data-height="400" data-border="1px solid black" data-line-color="#bc0000" data-auto-fit="true">test</div>
					<p><button id="clearBtn" class="btn btn-default" data-bind='click:clearCanvas'>Clear Canvas</button>&nbsp;<button id="saveBtn" class="btn btn-default" data-bind='click:saveSignature' disabled>Save Signature</button></p>
					<div id="signature">
						<p><em>Your signature will appear here when you click "Save Signature"</em></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	