<div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse"
	            			data-target="#example-navbar-collapse">
	            		<span class="sr-only">切换导航</span>
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	            	</button>
		            <a class="navbar-brand"></a>
	         </div>
      <div class="collapse navbar-collapse" id="example-navbar-collapse">
       
            <ul class="nav navbar-nav " data-bind="foreach: myworkRouter">
               <li class="tab-label"  data-bind="css: { active: isActive}"><a  data-bind="attr: { href: hash },text: title"></a></li>
               <li><a></a></li>
            </ul>
      </div>
 