<div id="scan">
    <table>
        <thead>
            <tr class="head">
                <th>扫描</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input id="barcode" type="text" autofocus/>
                </td>
            </tr>
            <tr>
                <td>
                    <input id ="confirm" type="button" value="确定" class="tBtn1" data-bind="click : ok"/>
                    <input type="button" value="取消" class="tBtn2" data-bind="click : cancel">
                </td>
            </tr>
        </tbody>
    </table>
</div>
 